<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<div class=''>
<h4><%= _("Merge Articles") %></h4>
<%= form_tag(controller: "/articles", action: "merge", method: "post") do %>
  <%= label_tag(:article_id, "Article ID:") %>
  <%= text_field_tag(:article_id) %>
  <%= submit_tag("Merge") %>
<% end %>
</div>  